extends  ../_skeleton

//- Includes
include ../components/_ui-pagination

block variables
  - var activeCategory = 'home'
  - var pageName = 'Условный оператор if - else'

block page
  // Page Header
  include ../sections/_header-classic

  section.section.section-lg.bg-gray-100
    .container
      h2 Решите любые 3 задачи (минимум) с этой страницы:
        =" "
        a(href='#') http://javascript.kiev.ua/if-else
      h5
        p В решениях можно использовать prompt / alert или просто написать фукнцию, которая принимает значения и возвращает результат. оформить можно в code pen или залить на гитхаб, на ваш выбор

      h6 A/C: карточка создана с сылкой на решение трех задач

  hr

  //
  section.section.section-lg.bg-default
    .container
      h4 Задача 1, 2
      p
        span.big Описание задачи:
        = ' '
        | Пользователь вводит два числа. Найти и вывести максимальное из двух чисел. Учтите вариант равенства чисел

      .rd-form
        .row.row-30.align-items-end
          .col-lg-4
            .form-wrap
              label.form-label-outside(for='number-one') Введите первое число
              input.form-input(type="text"  name="number-one" id='number-one')

          .col-lg-4
            .form-wrap
              label.form-label-outside(for='number-two' ) Введите второе число
              input.form-input(type="text" name="number-two" id='number-two')
          .col-lg-4
            button#btn-compare.button.button-primary.button-ujarak Сравнить числа
          .col-lg-4
            .form-wrap.form-wrap-no-drop
              label.form-label-outside(for='result-numbers') Результат сравнения двух чисел
              input.form-input(type="text" name="result-numbers" id='result-numbers')


  //
  section.section.section-lg.bg-gray-100
    .container
      h4 Задача 3
      p
        span.big Описание задачи:
        = ' '
        | В первом подъезде квартиры с 1 по 20. Во втором с 21 по 48. В третьем с 49 по 90. Пользователь вводит номер квартиры. Программа должна указать в каком подъезде находится данная квартира.
      .rd-form
        .row.row-30.align-items-end
          .col-lg-4
            .form-wrap
              label.form-label-outside(for='number-one') Введите номер квартиры:
              input.form-input(type="text" name="number-one" id='apartment-number')
          .col-lg-4
            button#btn-apartment.button.button-primary.button-ujarak Начать выполнение

          .col-lg-12
            .row
              .col-lg-4 
                .form-wrap.form-wrap-no-drop
                  label.form-label-outside(for='result-numbers') В нам нужно в подьезд номер:
                  input.form-input(type="text" name="result-numbers" id='result-apartment-number')


  // Page Footer
  include ../sections/_footer-classic


block scripts
  script( src='js/if-else.js' )
