extends  ../_skeleton

//- Includes
include ../components/_ui-pagination

block variables
	- var activeCategory = 'home'
	- var pageName = 'Home'

block page
	// Page Header
	include ../sections/_header-classic

	// Swiper
	section.section.swiper-container.swiper-slider.swiper-slider-1(data-loop='true' data-autoplay='false' data-simulate-touch="false")
		.swiper-wrapper.text-center
			.swiper-slide.context-dark( data-slide-bg='https://flydango.net/wp-content/uploads/2017/04/yosh-ginsu-146177.jpg' )
				.swiper-slide-caption.section-md
					.container
						.row.justify-content-lg-center
							.col-lg-8
								h1( data-caption-animate='fadeInUp', data-caption-delay='100' ) Bootstrap 4
								p.lead( data-caption-animate='fadeInUp', data-caption-delay='250' ) Bootstrap is the most popular HTML, CSS, and JS framework in the world for building responsive, mobile-first projects on the web.
								a.button.button-primary( href='https://getbootstrap.com/docs/4.0/migration/', data-caption-animate='fadeInUp', data-caption-delay='450') Read 3 to 4 changelog

			.swiper-slide.context-dark( data-slide-bg='https://cdn-images-1.medium.com/max/2000/1*iH-GYd4m5HvKFRZhIY1gxQ.jpeg', style='background-position: 50% 50%' )
				.swiper-slide-caption.section-md
					.container
						.row.justify-content-lg-center
							.col-lg-8
								h1( data-caption-animate='fadeInUp', data-caption-delay='100' ) Пуд или Gel
								p.lead( data-caption-animate='fadeInUp', data-caption-delay='250' ) Learn {JS}
								a.button.button-primary( href='#', data-caption-animate='fadeInUp', data-caption-delay='450' ) Learn more

		// Swiper Pagination 
		.swiper-pagination

		// Swiper Navigation
		.swiper-button-prev.fa-arrow-left
		.swiper-button-next.fa-arrow-right

	// Page Footer
	include ../sections/_footer-classic
