header.section.page-header
	.navbar-main-outer
		.navbar-main
			// RD Navbar Panel
			.navbar-panel

				// RD Navbar Brand
				.navbar-brand
					+logo

			.navbar-main-element
				.navbar-nav-wrap
					include ../includes/_navigation
