-
  var
    htmlClass = "wide wow-animation",
    fonts = "//fonts.googleapis.com/css?family=Roboto+Slab:700%7CRoboto:400",
    subscribeFormCounter = 0,
    logo = {
      default: { normal: 'logo-default-151x25', retina: 'logo-default-299x44' },
      inverse: { normal: 'logo-inverse-151x25', retina: 'logo-inverse-299x44' },
      name: 'Gel Learn {JS}'
    },
    links = {
      post: 'blog-post.html',
      getTemplate:'#get-template'
    },
    colors = {
      primary: '#b6c062'
    },
    menu = {
      'home' : {
        title: 'Home',
        category: 'home',
        link: 'index.html'
      },
      'about' : {
        title: 'About',
        category: 'about',
        link: '#'
      },
      'projects' : {
        title: 'Projects',
        category: 'projects',
        link: '#',
        dropdown: {
          0: {
            title: 'Авто Тестируемые Функции',
            link: 'auto-test-functions.html'
          }
        }
      },
      'contacts': {
       title: 'Contacts',
       link: '#'
      }
    };
