-
  var
    htmlClass = "wide wow-animation",
    fonts = "//fonts.googleapis.com/css?family=Roboto+Slab:700%7CRoboto:400",
    subscribeFormCounter = 0,
    logo = {
      default: { normal: 'logo-default-151x25', retina: 'logo-default-299x44' },
      inverse: { normal: 'logo-inverse-151x25', retina: 'logo-inverse-299x44' },
      name: 'Gel Learn {JS}'
    },
    links = {
      post: 'blog-post.html',
      getTemplate:'#get-template'
    },
    colors = {
      primary: '#b6c062'
    },
    menu = {
      'home' : {
        title: 'Home',
        category: 'home',
        link: 'index.html'
      },
      'about' : {
        title: 'About',
        category: 'about'
      },
      'projects' : {
        title: 'Projects',
        category: 'projects',
        dropdown: {
          0: {
            title: 'JS 01',
            link: 'projects/js_01/index.html'
          },
          1: {
            title: 'JS 02',
            link: 'projects/js_02/index.html'
          }
        }
      },
      'contacts': {
       title: 'Contacts',
       link: 'contacts.html'
      }
    };
